<div><style>.sh-src a{text-decoration:none!important;}</style></div>
<br />
<table
	cellpadding='0'
	cellspacing='0'
	border='0'
	class='sh-src'
	style='margin: 0px; border-collapse: collapse;'
><tr><td style='padding: 0px 1px 0px 0px;'><table
				cellpadding='0'
				cellspacing='0'
				border='0'
				style='margin: 0px; border-collapse: collapse;'
			><tr><td
						align='center'
						style='padding: 0px 35px 0px 0px; vertical-align: top;'
					><!---->
						<table
							cellpadding='0'
							cellspacing='0'
							border='0'
							style='margin: 0px; border-collapse: collapse;'
						><tr><td style='padding: 0px 1px 0px 0px;'><p style='margin: 1px;'><a
											href='https://novaya.com.tr'
											target='_blank'
										><img
												src='https://signaturehound.com/api/v1/file/b03psunldbpq6mz'
												alt=''
												title='Logo'
												width='143'
												height='143'
												style='display: block; border: 0px; max-width: 143px;'
											/></a></p></td></tr></table></td>
					<td width='5' style='padding: 1px 0px 0px;'></td>
					<td style='padding: 0px 1px 0px 0px; vertical-align: top;'><table
							cellpadding='0'
							cellspacing='0'
							border='0'
							style='margin: 0px; border-collapse: collapse;'
						><tr><td
									style='padding: 0px 1px 20px 0px; border-bottom: 2px solid rgb(35,230,168); font-family: Arial, sans-serif; font-size: 13px; line-height: 17px; white-space: nowrap;'
								><p
										style='font-family: Arial, sans-serif; font-size: 13px; line-height: 17px; font-weight: 700; color: rgb(19,15,53); white-space: nowrap; margin: 1px;'
									>Destek Ekibi</p>
									<!---->
									<!---->
									<p
										style='font-family: Arial, sans-serif; font-size: 13px; line-height: 17px; white-space: nowrap; color: rgb(19,15,53); margin: 1px;'
									>Novaya Dijital</p></td></tr>
							<tr><td
									style='padding: 20px 1px 20px 0px; border-bottom: 2px solid rgb(35,230,168);'
								><table
										cellpadding='0'
										cellspacing='0'
										border='0'
										style='margin: 0px; border-collapse: collapse;'
									><tr><td
												style='font-family: Arial, sans-serif; font-size: 13px; line-height: 17px; white-space: nowrap; color: rgb(35,230,168); font-weight: 700; padding: 0px 3px 0px 0px; vertical-align: top;'
											><p style='margin: 1px;'><span
														style='font-family: Arial, sans-serif; font-size: 13px; line-height: 17px; white-space: nowrap; color: rgb(35,230,168); font-weight: 700;'
													>
														E.
													</span></p></td>
											<td
												style='font-family: Arial, sans-serif; font-size: 13px; line-height: 17px; white-space: nowrap; color: rgb(19,15,52) !important; padding: 0px 1px 0px 0px; vertical-align: top;'
											><p style='margin: 1px;'><a
														href='mailto:destek@novaya.com.tr'
														target='_blank'
														style='font-family: Arial, sans-serif; font-size: 13px; line-height: 17px; white-space: nowrap; color: rgb(19,15,53); text-decoration: none !important;'
													><span
															style='font-family: Arial, sans-serif; font-size: 13px; line-height: 17px; white-space: nowrap; color: rgb(19,15,53); text-decoration: none !important;'
														>destek@novaya.com.tr</span></a></p></td></tr>
										<!----><!---->
										<!---->
										<tr><td
												style='font-family: Arial, sans-serif; font-size: 13px; line-height: 17px; white-space: nowrap; color: rgb(35,230,168); font-weight: 700; padding: 0px 3px 0px 0px; vertical-align: top;'
											><p style='margin: 1px;'><span
														style='font-family: Arial, sans-serif; font-size: 13px; line-height: 17px; white-space: nowrap; color: rgb(35,230,168); font-weight: 700;'
													>
														W.
													</span></p></td>
											<td
												style='font-family: Arial, sans-serif; font-size: 13px; line-height: 17px; white-space: nowrap; color: rgb(19,15,52) !important; font-weight: 700; padding: 0px 1px 0px 0px; vertical-align: top;'
											><p style='margin: 1px;'><a
														href='https://novaya.com.tr'
														target='_blank'
														style='font-family: Arial, sans-serif; font-size: 13px; line-height: 17px; white-space: nowrap; color: rgb(19,15,53); font-weight: 700; text-decoration: none !important;'
													><span
															style='font-family: Arial, sans-serif; font-size: 13px; line-height: 17px; white-space: nowrap; color: rgb(19,15,53); font-weight: 700; text-decoration: none !important;'
														>novaya.com.tr</span></a></p></td></tr></table></td></tr>
							<!----></table></td></tr></table></td></tr>
	<!---->
	<!---->
	<!---->
	<tr><td style='padding: 0px 1px 0px 0px;'>
			&nbsp;
		</td></tr></table>